<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <!--    <div class="container bg-blur rounded mt-5 ">-->
    <div class="welcome">
        <h1>About Us</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            We are a modern taxi service designed to make your daily travel simple, safe, and reliable.<br>
            With our app, you can book a ride in seconds and enjoy comfortable journeys at fair prices.<br>
            Your destination is our priority.<br>
            We focus on reliability, transparency, and customer satisfaction, ensuring every <br>
            ride meets the highest standards of service.<br>
            We believe getting a taxi should be easy and stress-free.
        </p>

        <hr class="my-3 bg-white w-50"/>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>